In [1]:
import json
import scipy as sp
import numpy as np
import pandas as pd
import sys
import string
#from pgmpy.inference import VariableElimination
#from pgmpy.models import BayesianModel
from libpgm.nodedata import NodeData
from libpgm.graphskeleton import GraphSkeleton
from libpgm.discretebayesiannetwork import DiscreteBayesianNetwork
from libpgm.lgbayesiannetwork import LGBayesianNetwork
from libpgm.hybayesiannetwork import HyBayesianNetwork
from libpgm.dyndiscbayesiannetwork import DynDiscBayesianNetwork
from libpgm.tablecpdfactorization import TableCPDFactorization
from libpgm.sampleaggregator import SampleAggregator
from libpgm.pgmlearner import PGMLearner

In [2]:
df = pd.read_csv("../data/data.csv")

In [3]:
df.head()

,user_id,movie_title,rating,genre,release_date,age,gender,occupation
0,100,Air Force One (1997),4,multiple,01-01-1997,36,M,executive
1,100,Amistad (1997),4,Drama,18-12-1997,36,M,executive
2,100,Anna Karenina (1997),3,multiple,04-04-1997,36,M,executive
3,100,"Apostle, The (1997)",4,Drama,18-12-1997,36,M,executive
4,100,Apt Pupil (1998),5,multiple,23-10-1998,36,M,executive

In [4]:
df.describe()

            user_id        rating           age
count  99739.000000  99739.000000  99739.000000
mean     462.530284      3.529913     32.971907
std      266.618279      1.125528     11.560293
min        1.000000      1.000000      7.000000
25%      254.000000      3.000000     24.000000
50%      447.000000      4.000000     30.000000
75%      682.000000      4.000000     40.000000
max      943.000000      5.000000     73.000000

In [5]:
df.corr()

          user_id    rating       age
user_id  1.000000 -0.009166 -0.073599
rating  -0.009166  1.000000  0.054570
age     -0.073599  0.054570  1.000000

In [6]:
df.shape

(99739, 8)

In [7]:
df['rating'].value_counts()

4    34079
3    27084
5    21146
2    11342
1     6088
Name: rating, dtype: int64

In [8]:
text = open("../data/unifiedMLData2.json")
data=text.read()

In [9]:
data[0:100]

'[\n  {\n    "user_id":100,\n    "movie_title":"Air Force One (1997)",\n    "rating":4,\n    "genre":"mult'

In [10]:
#data=data[0:1000]

In [11]:
listofDicts = json.loads(data)
print(listofDicts[0:5])

[{'user_id': 100, 'movie_title': 'Air Force One (1997)', 'rating': 4, 'genre': 'multiple', 'release_date': '1997-01-01', 'age': 36, 'gender': 'M', 'occupation': 'executive'}, {'user_id': 100, 'movie_title': 'Amistad (1997)', 'rating': 4, 'genre': 'Drama', 'release_date': '1997-12-18', 'age': 36, 'gender': 'M', 'occupation': 'executive'}, {'user_id': 100, 'movie_title': 'Anna Karenina (1997)', 'rating': 3, 'genre': 'multiple', 'release_date': '1997-04-04', 'age': 36, 'gender': 'M', 'occupation': 'executive'}, {'user_id': 100, 'movie_title': 'Apostle, The (1997)', 'rating': 4, 'genre': 'Drama', 'release_date': '1997-12-18', 'age': 36, 'gender': 'M', 'occupation': 'executive'}, {'user_id': 100, 'movie_title': 'Apt Pupil (1998)', 'rating': 5, 'genre': 'multiple', 'release_date': '1998-10-23', 'age': 36, 'gender': 'M', 'occupation': 'executive'}]

In [12]:
skel = GraphSkeleton()
skel.load("../data/skeleton.json")
#"V": ["user_id","movie_title", "rating", "genre", "release_date", "age", "gender", "occupation"],
#"E": [["occupation", "rating"],["gender","rating"],["age","rating"],["age","occupation"],["gender","occupation"],["genre","movie_title"],["movie_title","rating"],['user_id','rating']]

**GraphSkeleton** - This class represents a graph skeleton, meaning a vertex set and a directed edge set. It contains the attributes V and E, and the methods load, getparents, getchildren, and toporder.

In [13]:
print(skel.toporder())

None

In [14]:
print(skel.getparents('rating'))

['occupation', 'gender', 'age', 'movie_title']

In [15]:
print(skel)

<libpgm.graphskeleton.GraphSkeleton object at 0x000002320616FA58>

In [16]:
occupations = ['administrator',
#'artist',
#'scientist',
'student',
'doctor',
'educator',
'engineer',
'entertainment',
'executive',
'healthcare',
'homemaker',
'lawyer',
'librarian',
'marketing',
'none',
'other',
'programmer',
'retired',
'salesman',
'technician',
'writer']

In [17]:
occupations[1]

'student'

# Creating a Bayesian Network

In [18]:
learner = PGMLearner()

**PGMLearner** - This module provides tools to generate Bayesian networks that are “learned” from a data set. The learning process involves finding the Bayesian network that most accurately models data given as input – in other words, finding the Bayesian network that makes the data set most likely.

There are two major parts of Bayesian network learning: **structure learning and parameter learning**. 

Structure learning means finding the graph that most accurately depicts the dependencies detected in the data. Parameter learning means adjusting the parameters of the CPDs in a graph skeleton to most accurately model the data. This module has tools for both of these tasks.

# Maximum Likelihood Estimation - To learn the parameters of the CPDs

We instantiated the PGMLearner class. The method discrete_mle_estimateparams already knows the structure of the network. The estimates for each CPD only needs information from the parent, and this decomposition makes it possible to learn the parameters of each CPD.

In [19]:
result = learner.discrete_mle_estimateparams(skel, listofDicts)

**Estimate parameters for a discrete Bayesian network with a structure given by graphskeleton in order to maximize the probability of data given by data** This function normalizes the distribution of a node’s outcomes for each combination of its parents’ outcomes. In doing so it creates an estimated tabular conditional probability distribution for each node. It then instantiates a DiscreteBayesianNetwork instance based on the graphskeleton, and modifies that instance’s Vdata attribute to reflect the estimated CPDs. It then returns the instance.

In [20]:
# output- same as if you would have provided by yourself in NodeData
print(json.dumps(result.Vdata,indent=2)[0:200])

{
  "user_id": {
    "children": [],
    "parents": [],
    "vals": [
      100,
      101,
      10,
      102,
      103,
      104,
      105,
      106,
      107,
      108,
      109,
      1,

In [21]:
pd.DataFrame(result.Vdata['rating']['cprob']).transpose().head()

                                                    0    1    2    3    4
['executive', 'M', '36', 'Air Force One (1997)']  1.0  0.0  0.0  0.0  0.0
['executive', 'M', '36', 'Amistad (1997)']        1.0  0.0  0.0  0.0  0.0
['executive', 'M', '36', 'Anna Karenina (1997)']  0.0  1.0  0.0  0.0  0.0
['executive', 'M', '36', 'Apostle, The (1997)']   1.0  0.0  0.0  0.0  0.0
['executive', 'M', '36', 'Apt Pupil (1998)']      0.0  0.0  1.0  0.0  0.0

In [22]:
myquery = dict(movie_title = ['Air Force One (1997)'])
myevidence = dict(user_id=11)
result.specificquery(query=myquery,evidence = myevidence)

0.005472636815920449

# Gibbs Sampling

**Return a sequence of n samples using the Gibbs sampling method, given evidence specified by evidence.** Gibbs sampling is a technique wherein for each sample, each variable in turn is erased and calculated conditioned on the outcomes of its neighbors. This method starts by sampling from the ‘prior distribution,’ which is the distribution not conditioned on evidence, but the samples provably get closer and closer to the posterior distribution, which is the distribution conditioned on the evidence. It is thus a good way to deal with evidence when generating random samples.

In [23]:
text = open("../data/unifiedMLData2.json")
data = text.read()
listofDicts=json.loads(data)

skel = GraphSkeleton()
skel.load("../data/skeleton.json")

learner = PGMLearner()

result = learner.discrete_mle_estimateparams(skel, listofDicts)

tcf = TableCPDFactorization(result)

myquery = dict(movie_title = ['Air Force One (1997)'])
myevidence = dict(user_id=11)
res2 = tcf.gibbssample(evidence = myevidence,n = 5)

In [24]:
print(json.dumps(res2, indent=2))

[
  {
    "user_id": 11,
    "release_date": "1997-01-24",
    "genre": "multiple",
    "movie_title": "Toy Story (1995)",
    "gender": "M",
    "age": 29,
    "occupation": "other",
    "rating": 4
  },
  {
    "user_id": 11,
    "release_date": "1989-01-01",
    "genre": "multiple",
    "movie_title": "Apt Pupil (1998)",
    "gender": "M",
    "age": 29,
    "occupation": "other",
    "rating": 4
  },
  {
    "user_id": 11,
    "release_date": "1996-01-01",
    "genre": "multiple",
    "movie_title": "Tomorrow Never Dies (1997)",
    "gender": "M",
    "age": 29,
    "occupation": "other",
    "rating": 1
  },
  {
    "user_id": 11,
    "release_date": "1986-01-01",
    "genre": "multiple",
    "movie_title": "L.A. Confidential (1997)",
    "gender": "M",
    "age": 29,
    "occupation": "other",
    "rating": 3
  },
  {
    "user_id": 11,
    "release_date": "1966-01-01",
    "genre": "multiple",
    "movie_title": "Things to Do in Denver when You're Dead (1995)",
    "gender": "M",
    "age": 29,
    "occupation": "other",
    "rating": 2
  }
]